.App {
  margin: 0;
  height: 500vh;
  width: 100vw;
}


.homeContainer, .selfContainer, .columbiaContainer, .owlContainer, .lebawiContainer
{
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.homeContainer{
  z-index: 4;
}
.columbiaContainer{
    z-index: 3;
}

.owlContainer {
    z-index: 2;
}

.lebawiContainer{
    z-index: 1;
}
.selfContainer{
  z-index: 0;
}